.aboutUssec{
     background-color: orange; 
    
    /* background: url('https://wallpapers.com/images/featured/light-orange-background-twkelhp4digy0h91.jpg') no-repeat;
    background-size: cover;  */
    
    color: white;
    font-weight: bolder;
    width: 100%;
   padding-top: 1.0%;
   padding-bottom: 1.0%;
   text-align: center;
   font-size: 25px;
  }
  
  
  .about-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .welcome-section,
  .mission-section,
  /* Add more sections as needed ... */
  .join-us-section {
    margin-bottom: 20px;
  }
  .parasection{
    color: rgb(59, 58, 58);
   
  }
  
  @media (max-width: 750px) {
    .aboutUssec{
        background-color: white;
        color: white;
    }
   
  }
  
  