.aboutUssec{
    background-color: orange;
    color: white;
    font-weight: bolder;
    width: 100%;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
   text-align: center;
   font-size: 35px;
  }
  
  .about-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .welcome-section,
  .mission-section,
  /* Add more sections as needed ... */
  .join-us-section {
    margin-bottom: 20px;
  }
  .parasection{
    color: rgb(59, 58, 58);
   
  }
  
  @media (max-width: 750px) {
    .aboutUssec{
        background-color: white;
        color: orange;
    }
   
  }
  
  