/* OTPModal.css */
.otp-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
     background-color: rgba(0, 0, 0, 0.6); 
   
  }
  
  .otp-modal-content {
    /* background-color: #fefefe; */
    /* background-color: rgb(255, 255, 0); */
    background: linear-gradient(135deg, #ffeb3b, #ff9800); /* Yellow to orangish light gradient */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative; /* Center the modal */
    margin-top: 10%;
    border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
  }
  .inputboxotp{
    width: 50%;
  padding: 13px; /* Increased padding for larger size */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increased font size for larger size */
  }
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  .otpverifybtn{
    margin-left: 2%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .otpverifybtn:hover {
    background-color: #45a049;
  }

  @media (max-width: 750px) {
    .otp-modal-content {
      width: 80%;
    }
    .otp-modal-content {
       
       margin-top: 20%;
       
      }
      .inputboxotp{
        width: 50%;
      padding: 10px; /* Increased padding for larger size */
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px; /* Increased font size for larger size */
      }
      .otpverifybtn{
        
        padding: 8px 12px;
        
      }
  }
  